<div class="panel panel-default">
    <div class="panel-heading">
    <h2 class="panel-title">List of countries</h2>
    </div>
    <div class="panel-body">
        <div class="tweet">
          <form class="form">
            <label for="tweet">What are you intrested in?</label>
            <input type="text" [(ngModel)]="searchTerm" name="tweet" (keyup)="onSearch()" placeholder="Entery Country Name...">
        </form>
    </div>
</div>  
<table class="table country">
    <thead>
      <tr>
        <th>Index</th>
        <th>Country</th>
        <th>Capital</th>
        <th>Currency</th>
        <th>Native Name</th>
        <th>Map</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="#country of countries; #i = index">
        <td>{{i+1}}</td>
        <td>{{country.name}}</td>
        <td>{{country.capital}}</td>
        <td>{{country.currency[0]}}</td>
        <td>{{country.nativeName}}</td>
        <td><a class="btn btn-primary" href="{{country.latlng | mapLink}}" target="_blank">View Map</a></td>
    </tr>
</tbody>
</table>
</div>

<!--       <tr>
        <td class="flag">
          <img src="http://lipis.github.io/flag-icon-css/flags/4x3/us.svg" alt="">
      </td>
 -->      