<div class="panel panel-default">
    <div class="panel-heading">
    <h2 class="panel-title">List of countries</h2>
    </div>
    <div class="panel-body">
        <div class="tweet">
          <form class="form">
            <label for="tweet">What are you intrested in?</label>
            <input type="text" name="tweet">
        </form>
    </div>
</div>  
<table class="table country">
    <thead>
      <tr>
          <th>Flag</th>
          <th>Country</th>
          <th>Capital</th>
          <th>Currency</th>
          <th>Currency Symbol</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td class="flag">
          <img src="http://lipis.github.io/flag-icon-css/flags/4x3/us.svg" alt="">
      </td>
      <td>United States</td>
      <td>Washington D.C.</td>
      <td>US Dollar</td>
      <td>$</td>
  </tr>
</tbody>
</table>
</div>